:root {
  --color-main-undefined: #7c47fc;
    --color-primary-light: #9a70ff;
    --color-primary-dark: #5d25e3;
    --color-secondary-main: #33ffd9;
    --color-secondary-light: #94ffeb;
    --color-secondary-dark: #15d7b3;
    --color-information-main: #0b75f2;
    --color-information-light: #2e89f3;
    --color-information-dark: #0b75d7;
    --color-information-outline: #7ab8ff;
    --color-information-outline-2: #4f9ffd;
    --color-information-background: #e7f2ff;
    --color-information-background-2: #bfdcff;
    --color-information-content: #0d5ea9;
    --color-information-highlight: #f5faff;
    --color-success-main: #17bd81;
    --color-success-light: #2fcf96;
    --color-success-dark: #0fa46e;
    --color-success-outline: #8ddcc0;
    --color-success-outline-2: #3ec896;
    --color-success-background: #dbf1e9;
    --color-success-background-2: #cfece2;
    --color-success-content: #0d6b4a;
    --color-success-highlight: #f3fffb;
    --color-warning-main: #f2a40b;
    --color-warning-light: #fcb327;
    --color-warning-dark: #dd9508;
    --color-warning-outline: #ffd480;
    --color-warning-outline-2: #eeb74c;
    --color-warning-background: #ffefd0;
    --color-warning-background-2: #ffe0a3;
    --color-warning-content: #795104;
    --color-warning-highlight: #fff9ef;
    --color-danger-main: #cc1a1a;
    --color-danger-light: #f62727;
    --color-danger-dark: #bd1111;
    --color-danger-outline: #fa8282;
    --color-danger-outline-2: #f25757;
    --color-danger-background: #ffd8d8;
    --color-danger-background-2: #ffb4b4;
    --color-danger-content: #8c0c0c;
    --color-danger-highlight: #fff0f0;
    --color-default-primary: #131417;
    --color-default-secondary: #70737d;
    --color-default-disabled: #8c8e9a;
    --color-default-disabled-background: #dedfe5;
    --color-default-outline: #d1d2d9;
    --color-default-divider: #e8e9ed;
    --color-default-hover: #f0f1f5;
    --color-default-highlight: #f9fafc;
    --color-default-white: #ffffff;
    --color-other-rating: #ffc700;
    --color-other-rating-hover: #e5b403;
    
}